<!---------------------      Pagination starts here     ------------------->

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"   class="pb-20">
  <div
    *ngIf="page > 1"
    [style.backgroundColor]="'#e6e6e6'"
    class="paginator-btn cursor-pointer"
    fxLayoutAlign="center center"
    (click)="getContent(page - 1); page = page - 1; switchPages(page)"
  >
    <mat-icon [style.color]="'#757575'">chevron_left</mat-icon>
  </div>
  <div
    *ngFor='let pageNumber of totalPages.slice(pageLimitIndexStart, pageLimitIndexEnd)'
    [style.color]="pageNumber === page ? 'white' : '#757575'"
    [style.backgroundColor]="pageNumber === page ? '#757575' : '#e6e6e6'"
    (click)="getContent(pageNumber); page = pageNumber; switchPages(page)"
    class="paginator-btn cursor-pointer"
    fxLayoutAlign="center center"
  >
    {{ pageNumber }}
  </div>

  <div
    *ngIf="totalPages.length !== page"
    [style.backgroundColor]="'#e6e6e6'"
    class="cursor-pointer paginator-btn"
    fxLayoutAlign="center center"
    (click)="getContent(page + 1); page = page + 1; switchPages(page)"
  >
    <mat-icon [style.color]="'#757575'">chevron_right</mat-icon>
  </div>
</div>
