.cards-container {
  max-width: 1720px;
  margin: 0 auto;
  //padding: 0 10px;
}
.card {
  width: 292px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-image {
  height: 200px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-23 {
  margin-left: 23px;
}

.cursor-pointer {
  cursor: pointer;
}
