.wrapper {
  background-color: #fafafa;
}

.cards-container {
  max-width: 1720px;
  margin: 0 auto;
}
.card {
  width: 292px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-image {
  height: 200px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-23 {
  margin-left: 23px;
}

.animation {
  transition: all 0.3s;
}

.animation:active {
  transform: scale(0.6, 0.6);
}

.header {
  min-height: 80px;
  background-color: #ffffff;
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 24px;
}

.logo {
  font-family: 'DM Serif Text', serif;
  font-size: 32px;
  margin-left: 10px;
  color: #221f20;
}

.mat-form-field {
  margin-top: 12px;
}

.camera-list {
  margin-right: 10px;
  margin-left: 24px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}

::ng-deep .mat-form-field-underline {
  color: #e0e0e0;
}

@media screen and (max-width: 760px) {
  .camera-list {
    margin-right: 0;
    margin-left: 0;
  }
  .date-picker {
    margin-right: 0;
    margin-left: 0;
  }
  .logo {
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1720px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 760px) {
  .cards-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .mat-container {
    display: flex !important;
    flex-direction: column !important;
  }
}
