<div>Hello!</div>
<mat-icon>favorite_border</mat-icon>
<mat-icon [style.color]="'#1a3e8c'">favorite</mat-icon>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateChange)="changeDate($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline" class="form form-field-width select-dropdown">
  <mat-label>Camera</mat-label>
  <mat-select formControlName="camera" (selectionChange)="updatePhotos($event)" [value]="camera"
  ><mat-option value="all">All cameras</mat-option>
    <ng-container *ngFor="let camera of cameraList">
      <mat-option value="{{ camera.name }}">{{ camera.full_name }}</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>

<div class="cards-container"
     fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign.xs="space-between center"
     fxLayoutAlign.sm="space-evenly center"
     fxLayoutAlign.md="space-evenly center"
     fxLayoutAlign.lg="space-evenly center">
<mat-card class="card" *ngFor="let photo of photos">
  <img mat-card-image class="card-image cursor-pointer" src="{{photo?.img_src}}" alt="Photo from the Mars #{{photo?.id}}">
  <mat-card-header>
    <mat-card-title>Photo: {{photo?.id}}</mat-card-title>
    <mat-card-subtitle>{{photo?.camera?.full_name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="ml-16">
    <p>
      Sol: {{photo?.sol}}
    </p>
    <p>
      Earth date: {{photo?.earth_date}}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayout="row">
    <div class="cursor-pointer ml-23 animation">
      <mat-icon   *ngIf="!photo?.isLiked" (click)="likePhoto(photo?.id)">favorite_border</mat-icon>
      <mat-icon   *ngIf="photo?.isLiked" [style.color]="'red'" (click)="likePhoto(photo?.id)">favorite</mat-icon>
    </div>
        <mat-icon class="cursor-pointer ml-16">share</mat-icon>
  </mat-card-actions>
</mat-card>
</div>

<pagination
  *ngIf="totalCount && camera === 'all'"
  [page]="page"
  [totalCount]="totalCount"
  (sendPageToParent)="changePage($event)"
></pagination>
